@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --plus-show-: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    --nav-col: #3498db;
    --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --form-col: #64b4e9;
    --search-col-: #ecf0f1;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#plus-icon {
    position: fixed;
    top: 70%;
    right: 50px;
    width: 75px;
    height: 75px;
    background: var(--nav-col);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    box-shadow: var(--plus-show-);
    color: white;
    cursor: pointer;
}

#plus-icon i {
    font-size: 2.6rem;
}

header {
    background-color: var(--nav-col);
    padding: 1.2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: var(--shadow);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

#logo {
    text-transform: capitalize;
    font-size: 1.8rem;
    color: white;
    letter-spacing: 1px;
}

.box {
    position: relative;
    margin-right: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    padding: 8px 50px 8px 15px;
    font-size: 1.3rem;
    outline: none;
    border: none;
    max-width: 100%;
}

#search_icon {
    position: absolute;
    right: 0;
    padding: 5px 15px;
    font-size: 1.3rem;
    background-color: var(--search-col-);
    color: black;
    cursor: pointer;
}


section {
    padding: 1rem;
    height: calc(100vh - 82.4px - 64.8px);
    overflow: auto;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    opacity: 0;
    pointer-events: none;
}

#container.show {
    opacity: 1;
    pointer-events: auto;
    background: rgb(0 0 0 / 50%);
}

form {
    width: 75vmin;
    min-width: 280px;
    background-color: var(--form-col);
    text-transform: capitalize;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    box-shadow: var(--shadow);
}

form h1 {
    font-size: 22px;
    font-weight: 600;
    padding: 10px;
    border-bottom: 1px solid white;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close {
    font-size: 2rem;
    cursor: pointer;
}

form label {
    display: block;
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

form input {
    display: inline-block;
}

form input,
form textarea {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 1.1rem;
    padding: 10px 18px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 5px;
}

form button {
    display: block;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 12px 20px;
    border: none;
    background-color: #f4fbff;
    border-radius: 5px;
    margin: 15px 0 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
}


.card {
    width: 250px;
    max-width: 100%;
    height: auto;
    padding: 12px 18px;
    margin: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    display: inline-block;
}

.card title {
    display: block;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid black;
    text-align: center;
    margin-bottom: 12px;
}

.card p {
    font-size: 1.1rem;
}

.card-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: 1px solid black;
    margin-top: 12px;
    padding-top: 15px;
}

.card-footer .time {
    font-size: 1.1rem;
}

.card-footer .dorts {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dort_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.card-footer span i {
    font-size: 1.4rem;
}

.card-footer .menu {
    position: absolute;
    top: -40px;
    right: 5px;
    background-color: var(--nav-col);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    padding: 8px 10px;
    border-radius: 6px;
    transition: .5s;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.menu.show {
    opacity: 1;
    top: -60px;
    right: 8px;
    pointer-events: auto;
}

.menu>div {
    padding: 4px 10px;
    border-radius: 5px;
}

.menu>div:hover {
    background-color: white;
    color: black;
}

footer {
    padding: 1.2rem 1rem;
    background-color: var(--nav-col);
    color: white;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

@media screen and (max-width:590px) {
    .card {
        width: 85%;
        min-height: 200px;
        max-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }
}